
.portfolio{
    background: #dfe2f0;
    // padding: ($base-space * 3) (0);

    .portfolio__wrapper{
        max-width: 1440px;
        margin: 0 auto;
        width: 92%;
        padding-bottom: 7rem;

        .page-title {
            margin: 0;
            padding: 0.6em 0;
            padding-top: 0;
            text-align: center;
        }
    }

    .portfolio-container{
        display: flex;
        flex-wrap: wrap;
        margin-left: -12px;
        margin-right: -12px;

        >a{
            flex: 1;
            min-width: 300px;

            @include ease();
            transform: scale(0.5);
            opacity: 0;
            will-change: transform, opacity;

            &.active{
                animation: enter .35s $ease-out;
                animation-fill-mode: forwards;
            }
        }
        .portfolio-item{
            height: 400px;
            overflow: hidden; 
            @include shadow(1);
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            cursor: pointer;

            flex: 1;
            margin: 12px;

            &:hover{
                .inner-img{
                    transform: scale(1.1);
                }
            }

            .inner-img {
                transition: 0.3s;
                width: 85%;
                image-rendering: -webkit-optimize-contrast;
              }
              
              .item-text{
                  position: absolute;
                  bottom: 0;
                  color: white;
                  pointer-events: none;
                  padding: 0 15px;
              }

              .overlay{
                position: absolute;
                height: 100%;
                width: 100%;
                background:  linear-gradient(
                    to bottom,
                    hsla(0, 0%, 0%, 0) 0%,
                    hsla(0, 0%, 0%, 0.005) 8.1%,
                    hsla(0, 0%, 0%, 0.018) 15.5%,
                    hsla(0, 0%, 0%, 0.04) 22.5%,
                    hsla(0, 0%, 0%, 0.067) 29%,
                    hsla(0, 0%, 0%, 0.099) 35.3%,
                    hsla(0, 0%, 0%, 0.134) 41.2%,
                    hsla(0, 0%, 0%, 0.171) 47.1%,
                    hsla(0, 0%, 0%, 0.209) 52.9%,
                    hsla(0, 0%, 0%, 0.246) 58.8%,
                    hsla(0, 0%, 0%, 0.281) 64.7%,
                    hsla(0, 0%, 0%, 0.313) 71%,
                    hsla(0, 0%, 0%, 0.34) 77.5%,
                    hsla(0, 0%, 0%, 0.362) 84.5%,
                    hsla(0, 0%, 0%, 0.375) 91.9%,
                    hsla(0, 0%, 0%, 0.38) 100%
                  );
                
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                transition: 0.3s;
                pointer-events: none;

              }
              
        }
    }
}